.current-rate-container {
  display: flex;
  gap: 64px;
  justify-content: center;

  padding: 120px 125px 120px 105px;

  background-color: #fff;
  border-radius: 36px;
}

.current-rate-amount {
  margin-top: 24px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;

  color: #9BB2DE;
}

.current-rate-label {
  font-weight: 700;
  font-size: 36px;

  color: #5E62B6;
}

.rate-procentage {
  font-weight: 800;
}

.current-rate-add-button {
  margin-top: 24px;
  padding: 22px 136px;

  background-color: #6D9BF5;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  transition: background-color 0.4s, color 0.4s;
}

.current-rate-add-button:hover {
  background-color: #c5e4fa;
  color: #6D9BF5;
}
