@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #F9FBFF;
  font-family: 'Lato', sans-serif;
}
